 html, body {
    height: 100%;
    overflow: hidden;
    font-family: 'VT323', monospace;
}

body {
    background-image: url("images/fond_windows_dessin.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'VT323', monospace;
    cursor: url("images/curseur_fleche.png") 0 0, auto;
    }

/* ECRAN DE VERROUILLAGE */

.container_verrouillage {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 0 1.5rem;
      gap: 1.2rem;    
    }

#heure_verrouillage {
    font-size: clamp(5rem, 12vw, 9rem);
      font-weight: 600;
      letter-spacing: 4px;
      margin-bottom: 30px;
      color: #000;
    }

.thelma_verrouillage {
      width: clamp(140px, 28vw, 200px);
      height: clamp(140px, 28vw, 200px);
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 25px;
      transition: transform 0.5s ease;
    }

 .thelma_verrouillage img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

.thelma_verrouillage:hover {
    transform: scale(1.05);
}

.utilisateur_verrouillage {
      font-size: clamp(1.4rem, 4vw, 2rem);
      margin-bottom: 25px;
      color: #000;
    }

#bouton_verrouillage {
      display: inline-block;
      padding: 12px 40px;
      font-size: clamp(1.2rem, 3.3vw, 2rem);
      color: #fff;
      text-decoration: none;
      background: linear-gradient(0deg, #D000FF, #4528FF);
      border: 3px solid #000;
      transition: 0.15s ease;
      cursor: pointer;
      margin-bottom: 50px;
    }

#bouton_verrouillage:hover {
      transform: translate(-3px, -3px);
      box-shadow: 7px 7px 0 #000;
    }